[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
librosa = "*"
pandas = "*"
tqdm = "*"
seaborn = "*"
shap = "*"
torch = "*"
torchaudio = "*"
torchmetrics = "*"
torchsummary = "*"
mlxtend = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
